<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="FirebaseAuthSecret" value="YOUR_FIREBASE_AUTH_SECRET_HERE" />
        <add key="FirebaseBasePath" value="https://YOUR_PROJECT.firebaseio.com/" />
    </appSettings>
</configuration>